/* 

FEATURE  CSS

    - inner을 사용하지 않음
 
*/

.section--feature{
    background: #f5f5f5;
    padding-top: 66px;
}
.section--feature .summary{
    max-width: 820px; /* 반응형을 고려하여 최대 가로 너비만 정의 */
    margin: 0 auto;
    text-align: center;
}
.section--feature .video{
    max-width: 650px;
    margin: 50px auto;
}
.section--feature .video .video-ratio{ 
    height: 0; /* 높이를 고정시키는것을 방지 */

    /* 500 : x = 16 : 9 => 4500/16 = 281.25px => (281.25/500)*100 = 56.25% */
    padding-top: 56.25%;/* 부모요소(.video)의 가로사이즈의 영향을 받음 */
    position: relative;
}
.section--feature .video .video-ratio iframe{      
    position: absolute; /* padding의 영향을 받지않기 위해 위치를 배치 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section--feature .tiles{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.section--feature .tiles .inner{
    max-width: 1200px;
}
.section--feature .tiles ul{
/* 
    *** 신기술(모던방식)
    display: grid;  table태그 처럼 사용 
    grid-template-columns: repeat(4, 1fr);  4개의 컬럼생성, 1:1:1:1의 비율 
*/
}
.section--feature .tiles li{
    padding: 34px 24px;
    text-align: center;
    line-height: 1.5;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;

/* 구형 브라우저 형식 */
    float: left;
    width: 25%;
}
.section--feature .tiles li:last-child{
    border-right: 0;
}
.section--feature .tiles li img{
    max-width: 100%; /* 부모요소(div)에 맞게 이미지 자동 조정 */
    padding: 14px 10% 24px; /* 위 좌우 아래 */
    box-sizing: border-box;
}
.section--feature .tiles li h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.section--feature .tiles li p{
    font-size: 14px;
    color: #767676;
}