/* 

HEADER  CSS

*/

header{
    border-bottom: 1px solid rgba(0,0,0,0.75); /* 75%의 두께 */
    box-shadow: 0 0 5px rgba(0,0,0,.75); /* 0.75 == .75 */
    background: #FFF;
}
header .inner{
    height: 78px;
}



header .menu-group {
    display: flex;
    align-items: center;
    height: 100%; /* .menu-group의 부모 요소인 .inner의 높이를 가져옴*/
}
header .logo{
    margin-right: 10px;
}
header .logo a{
    background: url("../img/logo.svg");
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px; /* 대체 텍스트를 화면의 왼쪽 밖으로 밀어냄 */
}
header .logo a:hover{
    background: url("../img/logo_on.svg");
}
header .main-menu{
    display: flex;
}
header .main-menu li a{
    display: block;
    padding: 10px; /* 클릭가능 영역 넓히기 */
    color: #3c4146;
}
header .main-menu li a:hover{
    color: #4078c0;
}



header .sign-group{
    display: flex;
    align-items: center;
    height: 100%;
}
header .btn-group{
    /* order: 2;
       => 반응형에 맞춘 순서를 웹형으로 순서 변경 
        (우선순위 => 0 > 1 > 2)
    */
    order: 2;
    display: flex; /* 명시적으로 수평정렬 지정 */
}
header .btn-group .sign-in{
    margin-right: 4px;
}
#search-form{
    order: 1;
    margin-right: 12px;
}
#search{
    width: 160px;
    font-size: 14px;
}
/* 형제 요소의 type이 submit 선택자 => + */
#search + [type="submit"]{
    display: none;
}
header .sub-menu{
    order: 0; /* 생략가능 */
    display: flex;
    margin-right: 10px;
}
header .sub-menu li a{
    display: block;
    padding: 8px;
    font-size: 13px;
    color: #3c4146;
}
header .sub-menu li a:hover{
    color: #4078c0;
}
#toggle-btn{
    display: none;
    background:  url("../img/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    /* 마우스 포인터 손가락모양 */
    cursor: pointer;
    /* 대체 텍스트 삭제 */
    text-indent: -9999px;
}